<div class="row">
  <div class="span3">
    <%= render_cell :categories, :index, {:categories=>@categories, :type=>@type} %>
  </div>


  <%= render_cell :businesses, :index, {:businesses=>@businesses} %>

</div>