<div class="row">
  <div class="span3">
    <h2>View By Category</h2>
    <%= render_cell :categories, :index, {:categories=>@categories, :type=>@type} %>
  </div>

  <div class="span9">
    <ul class="list_business list-bordered" id="businesses">
        <%= render_cell :businesses, :index, {:businesses=>@businesses} %>
    </ul>
  </div>
</div>

<%= render :partial => "partials/infinite", :locals => {:segment => businesses_path, :container => '#businesses'} %>