<div class="row">
  <div class="span3">
    <%= render_cell :categories, :index, {:categories=>@categories, :type=>@type} %>
  </div>

  <div class="span9">
    <%= render_cell :businesses, :index, {:businesses=>@businesses} %>
  </div>
</div>