<ul id="filter-category">
  <% @categories.each do |c| %>
    <% if @type == 'business' %>
      <li><i class="icon-hand-right"></i> <%= link_to c.name, category_business_path(c) %></li>
    <% elsif @type == 'product' %>
      <li><i class="icon-hand-right"></i> <%= link_to c.name, category_products_path(c) %></li>
    <% end %>
  <% end %>
</ul>