<div id="landing">
  <h1 class="home-header">Halt!</h1>

  <p class="landing-p"><%= t "app.not_allowed" %></p>

  <p>(<%= t "app.not_allowed_sub" %>)</p>

  <p id="landing-register"><%= link_to t("app.bring_me_back"), :back,
                                       {:class=>"btn btn-danger btn-large landing-button"} %></p>
</div>