<div id="landing">
  <h1 class="home-header">Keep Calm!</h1>

  <p class="landing-p"><%= t "app.exception_message" %></p>

  <p id="landing-register"><%= link_to t("app.report_issue"), 'https://github.com/ygamretuta/jinsei/issues',
                                       {:class=>"btn btn-danger btn-large landing-button"} %></p>
</div>