<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    <style type="text/css">
      body{font-family: "Helvetica Neue",Helvetica,Arial,sans-serif}
      p {line-height: 1.5; font-size: 16px; font-weight: 300 }
    </style>
  </head>

  <body>
    <p>
      <%= t "app.moderate_business_message"%> <%= new_admin_user_session_url %>
    </p>
  </body>
</html>