body
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif
  padding-top: 60px

h2
  line-height: 1
  font-weight: lighter
  margin-bottom: 10px

p
  line-height: 1.5
  font-size: 16px
  font-weight: 300

ul
  list-style: none
  margin: 0
  padding: 0

.photo_index_business img
  display: block
  margin: auto
  border: 1px solid #CCC

.actions_index_business
  margin-top: 20px
  text-align: right
  padding-right: 30px

.p_description_business
  padding-left: 35px
  padding-right: 35px

.subnav
  background-color: #EEEEEE
  background-image: -moz-linear-gradient(center top , #F5F5F5 0%, #EEEEEE 100%)
  background-repeat: repeat-x
  border: 1px solid #E5E5E5
  border-radius: 4px 4px 4px 4px
  height: 36px
  width: 100%
  margin-bottom: 20px

.subnav .nav > li > a
  border-left: 1px solid #F5F5F5
  border-radius: 0 0 0 0
  border-right: 1px solid #E5E5E5
  margin: 0
  padding-bottom: 11px
  padding-top: 11px

.list_catalog > li
  border-bottom: 1px solid #ccc
  height: 40px

.list_catalog_name
  font-weight: bold
  padding: 8px 0

.container_image_product .thumbnail
  width: 115px
  display: block
  margin: 0 auto

ul.list-horizontal li
  display: inline

ul.list-business > li
  border-bottom: 1px dotted #ccc
  padding: 20px 0

span.price, span.pending_removal
  font-size: 20px
  color: #990000

span.pending_removal
  font-size: 16px

span.price-not-available
  font-size: 14px
  color: #990000

span.text-category
  color: #cc6600

.product-details
  font-size: 11px

ul.list-bordered > li
  border-bottom: 1px dotted #ccc
  padding: 10px 0

ul.list-bordered > li:last-child
  border-bottom: transparent

ul#filter-category li a
  font-size: 11px

/* list items styling for products and businesses */
.photo-medium
  float: left
  width: 15%

.name-and-details
  float: left
  width: 82%

.details
  float: left
  width: 50%

.details-box
  margin-top: 10px

.purr 
  position: fixed
  width: 180px
  top: 50px
  left: 15px
  padding: 20px
  background-color: #000000
  color: #FFFFFF
  border: 2px solid #AAA
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  -o-border-radius: 10px
  -ms-border-radius: 10px
  -khtml-border-radius: 10px
  border-radius: 10px

.purr:hover .close
  position: absolute
  top: 5px
  right: 3px
  display: block
  width: 25px
  height: 25px
  text-indent: -9999px
  background: image-url("close-button.gif") no-repeat

ul.list-text li
  margin: 10px 0
  line-height: 1.5
  font-size: 16px
  font-weight: 300

.bip-edit
  cursor: pointer

body, html
  height: 100%

.container
  min-height: 100%
  margin-bottom: 20px

#footer
  height: 30px
  margin-top: -10px
  background-color: #2C2C2C
  background-image: -moz-linear-gradient(center top , #333333, #222222)
  background-repeat: repeat-x
  color: #ccc
  padding: 10px 40px

#landing
  text-align: center
  padding: 40px

.home-header
  font-size: 120px
  line-height: 1

.landing-p
  font-size: 40px
  font-weight: lighter

.landing-button
  font-size: 24px

#landing-search
  width: 600px
  padding-top: 10px
  padding-bottom: 10px

.landing-actions
  margin-top: 50px

ul#devise-shared-links li
  margin: 10px 0

.instock
  color: #138051

.outstock
  color: #b90522
