<div class="row">
    <div class="span3">
        <h2><%= t "View By Category" %></h2>
        <%= render_cell :categories, :index, {:type => @type, :categories => @categories} %>
    </div>

    <div class="span9">
        <%= render_cell :products, :index, {:products => @products} %>
    </div>
</div>